// Mobile first
main {
  min-height: 100vh;
  background-color: $Offwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.3125rem 1.125rem;
}

.calculator {
  //   border: 1px solid black;
  width: 21.875rem;
  height: 31.25rem;
  max-width: 100%;
  padding: 3.125rem 2rem;
  background-color: $White;
  border-radius: 1rem 1rem 10rem 1rem;
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    .head {
      label {
        display: block;
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
        color: $Smokeygrey;
        font-weight: 700;
        margin-bottom: 0.3rem;
      }
      input {
        width: 100%;
        border: 1px solid $Lightgrey;
        height: 3.125rem;
        padding: 0.5rem 0rem 0.5rem 0.5rem;
        border-radius: 0.75rem;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 800;
      }
    }
    .head:nth-child(2),
    .head:last-child {
      padding-left: 1rem;
    }
  }

  &__button {
    position: relative;
    border-bottom: 1px solid $Lightgrey;
    margin-bottom: 4rem;

    a::before {
      // center before image
      position: absolute;
      content: "";
      top: -1.9rem;
      right: 0;
      bottom: 0;
      // Center element and must set the translateX position to -50%
      left: 50%;
      width: 3.75rem;
      height: 3.75rem;
      background-image: url(/assets/images/icon-arrow.svg);
      background-position: center;
      // Gives it a padding like feel
      background-size: 2rem;
      background-repeat: no-repeat;
      background-color: $Purple;
      border-radius: 50%;
      // Center element and must set the left position to 50%
      transform: translateX(-50%);
      cursor: pointer;
    }
  }

  &__main {
    font-size: $fontsize;

    h2 {
      text-transform: capitalize;

      span.purple {
        color: $Purple;
        margin-right: 0.9rem;
      }
    }
  }
}
